/* styles for my resume */


body  {
    color: #353A3F;
    font-family: 'Antic', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

/* container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}



/* navbar */
.nav-link {
  color: #353A3F;
  text-align: left;
  font-size: 2em;
}

.jumbotron {
  margin: 20px 0 10px 0;
  background-image: url(blank-board.jpg);
  background-size: cover;
  color: #353A3F;
  font-weight: 400;
  font-size: 2em;
}


/* sections */
.sectionheader {
    color: #353A3F;
    font-size: 32px;
    font-weight: 400;

}

/* job titles */
.jobtitle {
    font-size: 18px;
    font-weight: 600;
}

/* job organization */
.organization {
    font-size: 1.25em;
    font-weight: 400;
}

/* job dates */
.date {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}

/* paragraphs */
.description {
    font-size: 14px;
}

/* card text */
.card-text {
    color: white;
    background-color: black;
    font-size: 20px;
    opacity: .80;
    text-align: center;
}
