/* styles for my resume */
body  {
    color: #353A3F;
    font-family: 'Antic', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* container */
#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* mouse over link */
a:hover {
    color: teal;
}

/* navbar */
.nav-link {
  font-size: 18px;
  color: #353A3F;
}

/* navbar dropdown */
.dropdown-item {
  font-size: 16px;
}

/* jumbotron */
.jumbotron {
  margin: 20px 0 0 0;
  background-image: url(workspace-resume-photo.jpg);
  background-size: cover;
  color: white;
  opacity: .80;
  font-weight: 400;
  font-size: 28px;
}

/* experience sectionheader */
#Experience {
  font-size: 28px;
}

/* education sectionheader */
#Education {
  font-size: 28px;
}

/* skills & interests sectionheader */
#Skills {
  font-size: 28px;
}

/* job titles */
.jobtitle {
    font-size: 16px;
    font-weight: 600;
}

/* organization */
.organization {
    font-size: 16px;
}

/* date */
.date {
    font-size: 16px;
    font-style: italic;
}

/* description */
.description {
    font-size:  16px;
}

/* card text */
.card-text {
    color: white;
    background-color: #353A3F;
    font-size: 20px;
    opacity: .80;
    text-align: center;
}

/* footer */
.footer {
    text-align: center;
    width: 100%;
    color: #353A3F;
}
