
body  {
    color: black;
    font-size: 16px;
    line-height: 160%;
    font-family: 'Roboto', sans-serif;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

.nav-link {
  color: white;
  font-size: 18px;
}

.bg-dark {
 background: black !important;
}

ul.navbar-nav {
 margin-left: 46%;
}

.navbar {
  max-width: 1100px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

/* jumbotron */
.jumbotron {
  background-image: url(girl-by-train.jpg);
  background-size: cover;
  max-width: 1100px;
  margin: 0 auto;
}

.jumbotron-text {
  padding-left: 30px;
  color: white;
}

.jumbotron p {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}

/* body */

#container {
  max-width: 1000px;
  padding: 5px;
  margin: 0 auto;
  width:100%;
}

#hed {
 font-size: 36px;
 font-weight: 800;
 text-align: center;
 padding: 5px 0px;
}

#byline {
 font-weight: 600;
 text-align: center;
 padding: 10px;
}

#carouselExampleIndicators {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.intro-text {
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 25px;
}

.chapter-title {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 600;
}

.chapter-text {
  font-size: 16px;
  clear: both;
}

.quote {
  background: indigo;
  color: white;
  max-width: 750px;
  padding: 25px 15px;
  text-align: right;
  float: right;
  opacity: .4;
}

.graphic-container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0px;
}

.map {
  text-align: center;
}

.timeline {
  padding-top: 10px;
}

.sources {
  background-image: url(train-tracks.jpg);
  background-size: cover;
  color: white;
  max-width: 1100px;
  padding: 30px 45px;
  margin: 0 auto;
}

.sources-links {
padding: 0px 30px;
}

/* footer */
#footer {
  width: 100%;
  text-align: center;
  background: black;
  color: white;
  padding: 20px;
}
