body  {
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    font-family: 'Roboto', sans-serif;
}

a:link {
  color: indigo;
  text-decoration: none;
}

a:visited {
  color: # indigo;
  text-decoration: none;
}

a:hover {
  color: indigo;
  text-decoration: none;
}

.nav-link {
  color: white;
}

.bg-dark {
 background: black !important;
}

ul.navbar-nav {
 margin-left: 70%;
}

.navbar {
  max-width: 1100px;
  margin: 0 auto;
}

/* jumbotron */
.jumbotron {
  background-image: url(girl-by-train.jpg);
  background-size: cover;
  max-width: 1100px;
  margin: 0 auto;
}

.jumbotron-text {
  padding: 10px;
  color: white;
}

.jumbotron p {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}

/* body */

#container {
  max-width: 1000px;
  padding: 5px;
  margin: 0 auto;
  width:100%;
}

#hed {
 font-size: 38px;
 font-weight: 800;
 text-align: center;
 padding: 15px 0px;
}

#byline {
 font-weight: 400;
 text-align: center;
}

.chapter-title {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 600;
}

.chapter-text {
  font-size: 16px;
  clear: both;
}

.quote {
  background: indigo;
  color: white;
  max-width: 750px;
  padding: 25px 10px;
  text-align: right;
  float: right;
  opacity: .4
}

.quote2 {
  background-image: url(train-tracks.jpg);
  background-size: cover;
  color: white;
  max-width: 750px;
  padding: 25px 10px;
}

.graphic-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#map {
  max-width: 600px;
  margin: 0 auto;
  font-size: 30px;
}

/* footer */
#footer {
  width: 100%;
  text-align: center;
  background: black;
  color: white;
}
