#container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
}

#headline {
}

#byline {
  font-style: italic;
}

.chapter-text {
  color: grey;
}

figure {
  max-width: 600px;
  width: 100%;
}

.responsive {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/*footer*/
.footer {
  text-align: center;
  padding: 30px 10px;
}
